h1, h2, h3 {
  color: #545454;
}

a {
  color: #00adf2 !important;
  text-decoration: none !important;
}

blockquote {
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #525252;

  small {
    font-weight: normal;
    font-size: 13px;
    color: #525252;
    margin-top: 20px;
  }
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #d7d7d3;
  border-bottom: 1px solid white;
  margin: 5px 0 18px;
}

/* Header */
.page-header {
  height: 92px;
  border: 0;
  background: #7bd454 url('../images/color-strip-wide.jpg') no-repeat bottom center;
  border: 0;
  margin: 0 0 30px;
  line-height: 82px;
}

.page-headline {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 18px;
  }
}

/* Steps */
.steps {
  margin: 50px 0;
}

.step-block {
  height: 240px;
  width: 240px;
  margin: 0 7px;
  display: inline-block;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  .flipper {
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back {
    width: 100%;
    height: 240px;
    padding: 35px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    color: white;
    font-size: 17px;
    z-index: 2;

    .num {
      font-size: 24px;
    }
  }

  .back {
    color: white;
    background: #7bd454;
    font-size: 16px;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  &:hover .flipper {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .icon {
    background: url('../images/steps-icons.png') no-repeat;
    width: 86px;
    height: 73px;
    display: block;
    margin: 15px auto 38px;
  }

  &.block-1 {
    .icon { background-position: 0 0; }
    .front { background-color: #8a1669; }
  }

  &.block-2 {
    .icon { background-position: 0 -73px; }
    .front { background-color: #f33a35; }
  }

  &.block-3 {
    .icon { background-position: 0 -146px; }
    .front { background-color: #ffb600; }
  }
}

/* Form Section */
.form-section {
  background: #f0f0f0;
  padding: 135px 0 40px;
  position: relative;

  .form-headline {
    background: url('../images/form-headline-bg.png') no-repeat;
    width: 521px;
    height: 128px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -260px;

    h1 {
      font-style: italic;
      font-size: 26px;
      color: white;
      text-align: center;
      margin: 32px 80px 0;
      text-shadow: 1px 0 0 #0066d2;
    }
  }

  form {
    margin: 0 32px;
  }
}

.form-control {
  border: 3px solid #d2d2cd;
  box-shadow: none !important;
  color: #6e6e6e;
}

label {
  color: #6e6e6e;
  text-transform: uppercase;
  text-indent: 10px;
  font-size: 12px;
}

textarea {
  resize: vertical;
  max-height: 450px;
}

.contractors {
  background: #7bd454;
  padding: 23px 0;
  height: 475px;
  position: relative;

  .nav a {
    background: url('../images/arrows.png') no-repeat;
    width: 16px;
    height: 26px;
    display: block;
    position: absolute;
    top: 183px;

    &.disabled {
      cursor: default;
    }

    &.left-arrow {
      background-position: 0 0;
      left: 40px;

      &.disabled { background-position: 0 -26px; }
    }

    &.right-arrow {
      background-position: -16px 0;
      right: 40px;

      &.disabled { background-position: -16px -26px; }
    }
  }

  .wrapper {
    max-width: 1230px;
    height: 341px;
    margin: 0 auto;
    overflow: hidden;
  }

  .stats {
    background: #5ea32b;
    position: absolute;
    width: 100%;
    height: 183px;
    bottom: 0;
  }

  .tiles {
    position: relative;
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .tile {
    width: 236px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2.91px 0.09px;
    position: relative;
    margin: 0 5px;
    float: left;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;

    &.cta {
      height: 341px;
      background: white url('../images/tile-CTA-icon.svg') no-repeat center 55px;

      .content {
        font-size: 24px;
        line-height: 28px;
        color: rgb(0, 173, 239);
        text-align: center;
        top: 161px;
        padding: 7px;
        width: 224px;
        position: relative;
      }
    }

    article {
      height: 100%;
    }

    header {
      background: rgb(0, 173, 239);
      border-radius: 5px 5px 0px 0px;
      border-bottom: 1px solid rgb(0, 173, 239);
      height: 88px;
      padding: 15px 15px 0;
    }

    footer {
      background: #f0f0f0;
      padding: 10px 15px;
      box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
      border-radius: 0 0 5px 5px;
    }

    h3 {
      width: 210px;
      font-size: 18px;
      line-height: 21px;
      text-shadow: rgba(10, 99, 144, 0.298039) 0px -1px 0px;
      color: white;
      height: 65px;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }

  .profile {
    height: 181px;

    .desc {
      padding: 8px 15px 0px;

      p {
        font-size: 11px;
        line-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 75px;
        width: 210px;
        word-wrap: break-word;
      }
    }

    .skills {
      padding: 5px 15px 0px;
      overflow: hidden;
      height: 60px;

      span {
        background-color: rgb(242, 242, 242);
        color: rgb(124, 124, 122);
        padding: 4px 7px;
        border-radius: 4px;
        margin-right: 2px;
        margin-top: 5px;
        font-size: 11px;
        line-height: 1.4;
        display: inline-block;
      }
    }
  }

  .image {
    border: 1px solid rgb(220, 220, 220);
    width: 52px;
    height: 52px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
  }

  .info {
    display: inline-block;
    width: 83px;

    .first-name, .last-name {
      color: black;
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }

    .country {
      font-weight: normal;
      font-size: 11px;
      color: rgb(124, 124, 122);
    }
  }

  .rate {
    margin-top: 6px;
    display: inline-block;

    .dollars {
      font-weight: bold;
      font-size: 18px;
      text-align: right;
      padding-top: 6px;
    }

    .label {
      font-weight: normal;
      font-size: 8px;
      color: rgb(124, 124, 122);
      text-align: right;
      text-transform: uppercase;
      padding: 1px 0 0;
      display: block;
    }
  }
}

.stats {
  padding-top: 90px;
  color: #1f5b05;
  font-size: 19px;
  text-shadow: 0 1px 0 #76b14b;
  line-height: 1.2;

  strong {
    display: block;
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 0 1px 1px #3c791a;
  }
}

.featured-clients {
  border-top: 2px solid white;
  border-bottom: 1px solid #f4f4f4;
  background: #f0f0f0;
  padding: 20px 0;
  color: #6e6e6e;

  img { max-width: 100%; }

  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
}

.testimonial {
  min-height: 258px;
  padding: 36px 0 0;

  blockquote {
    margin: 0 60px;
    overflow: hidden;
  }
}

/* Page footer */
.page-footer {
  background: #525252;
  height: 116px;
  border-top: 1px solid #808080;
  padding-top: 44px;
  color: white;

  .copy {
    font-size: 12px;
    margin-top: 16px;
  }
}

/* Misc */
.btn-blue {
  background: #00a2ee;
  border: 1px solid #155de1;
  color: white !important;
  text-shadow: 1px 0 0 #006cdf;
  font-weight: bold;
  box-shadow: 0 1px 0 #80d4f7 inset, 0 1px 1px #155de1;
  border-radius: 7px;
  outline: 0 !important;
}

.btn-submit {
  background: #fab301;
  padding: 15px 30px;
  border: 1px solid #e4a33d;
  border-bottom-color: #7e7502;
  box-shadow: 0 1px 1px #f9cc6a inset, 0 1px 1px #bb7c00;
  color: #a9640b !important;
  text-shadow: 1px 1px 0 #fcca4e;
  margin: 15px 0;
  outline: 0 !important;
}
