<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:content => "noodp,nodir,noydir", :name => "robots"}/
    %title
    %link{:href => "//www.odesk.com/css/v3/default/stylesheets/RELd2fedcd50a6b6d62b1b40de85e792ccc/globals/globals.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//www.odesk.com/css/v3/default/stylesheets/RELffc1072eeea76a5618746c3dc399dd74/pages/error/page-not-found.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//www.odesk.com/js/v3/RELa32604e2d87f918d2318244501dc20a4/globals/core.js"}
    .oErrLayout
      %h1.oErrLogo.oHiddenText oDesk
      %h1.oErrHeader Nothing to see here, folks.
      %p.oErrDescription Looks like this page is kaput. Or on vacation. Or just playing hard to get. At any rate...it's not here.
      %p.oErrLinks
        In the meantime,
        %a{:href => "javascript:window.history.back()"} Go Back
        or
        %a{:href => "http://www.odesk.com/"} Go Home
    %script{:src => "//www.odesk.com/js/v3/REL12b497eec7de957901cd6cccb7b7b480/globals/globals.js"}
