.form-headline
  %h1 Thank you for submitting your job!
.content.text-center
  %p A dedicated oDesk Account Manager will email you soon with directions on how to access your list of qualified applicants.

  %p In the meantime, feel free to browse oDesk freelancers to get inspired by the many ways they can help you grow your business.

  %a.btn.btn-lg.btn-submit.browse-odesk{href: "https://www.odesk.com/o/profiles/browse/?#{session[:full_query]}"} Browse oDesk Freelancers

  :coffee
    mixpanel.track "Posted Job"

    $('.browse-odesk').click ->
      mixpanel.track "Clicked 'Browse oDesk Freelancers'"

  :javascript
    var google_conversion_id = 1071292880;
    var google_conversion_language = "en";
    var google_conversion_format = "1";
    var google_conversion_color = "666666";
    var google_conversion_label = "vZT0CNCqPRDQw-r-Aw";
    var google_conversion_value = 0;
    var google_remarketing_only = false;

  %script{src: "//www.googleadservices.com/pagead/conversion.js"}
  %noscript
    %div{style: "display:inline;"}
      %img{height: "1", width: "1", style: "border-style:none;", alt: "", src: "//www.googleadservices.com/pagead/conversion/1071292880/?value=0&amp;label=vZT0CNCqPRDQw-r-Aw&amp;guid=ON&amp;script=0"}

  :javascript
    var google_conversion_id = 994112963;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "mSgnCLX2xAQQw-uD2gM";
    var google_conversion_value = 0;
    var google_remarketing_only = false;

  %script{src: "//www.googleadservices.com/pagead/conversion.js"}
  %noscript
    %div{style: "display:inline;"}
      %img{height: "1", width: "1", style:"border-style:none;", alt:"", src:"//www.googleadservices.com/pagead/conversion/994112963/?value=0&amp;label=mSgnCLX2xAQQw-uD2gM&amp;guid=ON&amp;script=0"}

  :javascript
    var google_conversion_id = 992458652;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "lUplCNSpoAQQnO-e2QM";
    var google_conversion_value = 0;
    var google_remarketing_only = false;

  %script{src: "//www.googleadservices.com/pagead/conversion.js"}
  %noscript
    %div{style: "display:inline;"}
      %img{height: "1", width: "1", style: "border-style:none;",alt:"", src:"//www.googleadservices.com/pagead/conversion/992458652/?value=0&amp;label=lUplCNSpoAQQnO-e2QM&amp;guid=ON&amp;script=0"}
