.form-headline
  %h1 Thank you for submitting your job!
.content.text-center
  %p A dedicated oDesk Account Manager will email you soon with directions on how to access your list of qualified applicants.

  %p In the meantime, feel free to browse oDesk freelancers to get inspired by the many ways they can help you grow your business.

  %a.btn.btn-lg.btn-submit.browse-odesk{href: 'https://www.odesk.com/o/profiles/browse/'} Browse oDesk Freelancers
