.form-headline
  %h1 Thank you for submitting your job!
.content.text-center
  %p A dedicated oDesk Account Manager will email you soon with a list of qualified applicants.

  %p In the meantime, feel free to browse some of the 4.5M+ freelancers on oDesk to get inspired by the many ways they can help your business grow.

  %a.btn.btn-lg.btn-submit.browse-odesk{href: 'https://www.odesk.com/o/profiles/browse/'} Browse oDesk Freelancers
