.form-headline
  %h1 Get #{@ct_singular} Applications Fast
%form#submit-job.form{action: '/send', method: 'post'}
  .form-group
    %label{for: 'title'} Give your project a title
    %input#title.form-control{name: 'title', type: 'text', placeholder: 'Ex. Build a website'}
  .form-group
    %label{for: 'desc'} Describe what you want done
    %textarea#desc.form-control{name: 'desc', rows: 9, placeholder: "Enter your job details here. Let us know what you want done, the skills your job requires, and your ideal goal or outcome. The more information you provide, the better your applicants will be! (must be at least 50 characters)"}
  .form-group
    %label{for: 'email'} Enter your email
    %input#email.form-control{name: 'email', type: 'email'}
  .form-group.text-center
    = csrf_tag
    %input{type: 'hidden', name: 'scroll_count', value: 0}
    %input.btn.btn-lg.btn-submit{type: 'submit', value: 'Get Applications Fast'}
    %p
      %em.terms
        By pressing 'Get Applications Fast' you confirm that you accept the
        %br/
        %a#tac{href: 'https://www.odesk.com/info/terms/', target: '_blank'} Terms and Conditions
        and
        %a#pp{href: 'https://www.odesk.com/info/terms/privacy/', target: '_blank'} Privacy Policy

:coffee
  $('#title, #desc, #email').bind "focus.mixpanel", ->
    mixpanel.track "Filling Form"

    $('#title, #desc, #email').unbind("focus.mixpanel")

  $('#tac').click ->
    mixpanel.track "Clicked 'Terms and Conditions'"

  $('#pp').click ->
    mixpanel.track "Clicked 'Privacy Policy'"
