%form{action: '/'}
  .col-sm-5.col-sm-offset-1.form-group
    %label Search for Other Freelancers:
    %input#q.form-control{name: 'query', value: params[:query]}
  .col-sm-5.form-group
    .row
      .col-sm-6
        %label Country:
        %select.form-control{name: 'country'}
          %option{value: ''} All
          %option{value: 'United States'} United States
          %option{value: 'Canada'} Canada
          %option{value: 'United Kingdom'} United Kingdom
          %option{value: 'India'} India
          %option{value: 'Philippines'} Philippines
          %option{value: 'Pakistan'} Pakistan
          %option{value: 'Ukraine'} Ukraine
          %option{value: 'Russia'} Russia
          %option{value: '------------', disabled: 'disabled'}
          %option{value: 'Argentina'} Argentina
          %option{value: 'Armenia'} Armenia
          %option{value: 'Australia'} Australia
          %option{value: 'Austria'} Austria
          %option{value: 'Bangladesh'} Bangladesh
          %option{value: 'Belarus'} Belarus
          %option{value: 'Belgium'} Belgium
          %option{value: 'Bolivia'} Bolivia
          %option{value: 'Bosnia and Herzegovina'} Bosnia and Herzegovina
          %option{value: 'Brazil'} Brazil
          %option{value: 'Bulgaria'} Bulgaria
          %option{value: 'Cambodia'} Cambodia
          %option{value: 'Canada'} Canada
          %option{value: 'China'} China
          %option{value: 'Colombia'} Colombia
          %option{value: 'Costa Rica'} Costa Rica
          %option{value: 'Croatia'} Croatia
          %option{value: 'Czech Republic'} Czech Republic
          %option{value: 'Dominican Republic'} Dominican Republic
          %option{value: 'Egypt'} Egypt
          %option{value: 'Finland'} Finland
          %option{value: 'France'} France
          %option{value: 'Germany'} Germany
          %option{value: 'Greece'} Greece
          %option{value: 'Hong Kong'} Hong Kong
          %option{value: 'Hungary'} Hungary
          %option{value: 'India'} India
          %option{value: 'Indonesia'} Indonesia
          %option{value: 'Ireland'} Ireland
          %option{value: 'Israel'} Israel
          %option{value: 'Italy'} Italy
          %option{value: 'Jamaica'} Jamaica
          %option{value: 'Kenya'} Kenya
          %option{value: 'Kyrgyzstan'} Kyrgyzstan
          %option{value: 'Lithuania'} Lithuania
          %option{value: 'Macedonia'} Macedonia
          %option{value: 'Malaysia'} Malaysia
          %option{value: 'Mexico'} Mexico
          %option{value: 'Moldova'} Moldova
          %option{value: 'Morocco'} Morocco
          %option{value: 'Nepal'} Nepal
          %option{value: 'Netherlands'} Netherlands
          %option{value: 'New Zealand'} New Zealand
          %option{value: 'Pakistan'} Pakistan
          %option{value: 'Peru'} Peru
          %option{value: 'Philippines'} Philippines
          %option{value: 'Poland'} Poland
          %option{value: 'Portugal'} Portugal
          %option{value: 'Romania'} Romania
          %option{value: 'Russia'} Russia
          %option{value: 'Serbia'} Serbia
          %option{value: 'Singapore'} Singapore
          %option{value: 'South Africa'} South Africa
          %option{value: 'South Korea'} South Korea
          %option{value: 'Spain'} Spain
          %option{value: 'Sri Lanka'} Sri Lanka
          %option{value: 'Sweden'} Sweden
          %option{value: 'Thailand'} Thailand
          %option{value: 'Tunisia'} Tunisia
          %option{value: 'Turkey'} Turkey
          %option{value: 'Ukraine'} Ukraine
          %option{value: 'United Arab Emirates'} United Arab Emirates
          %option{value: 'United Kingdom'} United Kingdom
          %option{value: 'United States'} United States
          %option{value: 'Uruguay'} Uruguay
          %option{value: 'Venezuela'} Venezuela
          %option{value: 'Vietnam'} Vietnam

      .col-sm-6
        %label Maximum Rate:
        %select.form-control{name: 'rate'}
          %option{value: ''} Max
          %option{value: '5'} $5
          %option{value: '10'} $10
          %option{value: '15'} $15
          %option{value: '20'} $20
          %option{value: '25'} $25
          %option{value: '30'} $30
          %option{value: '35'} $35
          %option{value: '40'} $40
          %option{value: '45'} $45
          %option{value: '50'} $50
