!!! 5
%html{lang: 'en-us'}
  %head
    %meta{name: 'robots', content: 'noodp,nodir,noydir'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=yes'}
    %meta{name: 'alexaVerifyID', content: 'jLn8sS342tB8jpIVZLQVC_AFpLg'}

    %link{rel: 'shortcut icon', href: '//www.odesk.com/favicon.ico', type: 'image/x-icon'}

    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/app.css'}
  %body.oLanding

    %header.page-header.text-center{role: 'banner'}
      %a.logo{href: '/'}
        %img{src: '/images/header-logo.png'}

    %main.page-main= yield

    %section.featured-clients
      .container
        .wrapper.text-center
          %p
            %em More than <strong>900,000 companies</strong> use oDesk including:
          %hr/
          %img{src: '/images/featured-clients.jpg', alt: 'Featured clients'}
    %section.testimonial
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            %blockquote
              %p "We wanted to ramp up quickly with the best people. Our bookkeepers,<br> developers, designers, customer support &mdash; everything is through oDesk."
              %small.author.pull-right Jay Shapiro // Founder of Infinite Monkeys
            %br/
            %a.btn.btn-lg.btn-submit{href: '#'} Get Applicants Fast

    %footer.page-footer.text-center
      %img.footer-logo{src: '/images/footer-logo.png', alt: 'oDesk'}
      %p.copy= "&copy; 2003-#{Time.now.year} oDesk Corporation."

    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{src: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'}
    %script{src: '/js/app.js'}

    :javascript
